* {
	border: 1px black solid;
  box-sizing: border-box;
  /* font-family: ; */
/*	margin: 0;
	padding: 0; */
}
*::before, *::after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	min-width: 420px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	height: 50vw;
	width: 50vw;
	max-width: 560px;
	max-height: 526px;
}

#container div {

}

.selected-div {
	background-color: black;
}